.input-field label{
    width: 100%;

}

div.select{
    padding-top: 10px;
    margin-top: 31px;
}
.required:after{
    content: '*';
    font-size: 14px;
    color: #da5a47;
    margin: -2px 0 0 7px;
}
.pane{
    padding-top: 10px;
}

.list-group-entry-type .list-group-item{
    background: #ededed;
    border-left: 0;
    border-right: 0;
}

.entry-type-container{
    background: #EDEDED; min-height: 600px; margin-top: 5px
}

.entry-type-container>div:first-child{
    padding-top: 120px;
    width: 100%;
}

.secondary-buttons{
    float: right;
    padding-top: 10px;
}

.container-fluid{
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 20, 0.1);
    box-shadow: 0 1px 0 rgba(0, 0, 20, 0.1);
}

ul.errors li {
    color: #da5a47;
}