{% includeJsFile(assetUrl ~'/js/directives/form.js') %}

<script type="text/ng-template" id="/fieldLayout.html">


    <div class="row">
        <ul class="tabs">
            <li ng-repeat="tab in fieldLayout.tabs" class="tab col">
                <a href="#{[{ tab.name|snakeCase:'-' }]}">{[{ tab.name }]}
                </a>
            </li>
        </ul>
    </div>


    <div ng-show="element.type.hasTitleField == '1'" class="row">
        <div class="col s12">
            <div class="field">
                <div class="input-field">
                    <input class="text fullwidth " ng-model="element.title" id="title" type="text" name="title">
                    <label class="required" for="title">
                        <span>{[{ element.type.titleLabel }]} <span class="red-text">*</span></span>
                    </label>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div ng-repeat="tab in fieldLayout.tabs" id="{[{tab.name|snakeCase:'-'}]}" class="col s12">
            <div class="row" ng-repeat="field in tab.fields">
                <div field="field" element="element"></div>
            </div>
        </div>
    </div>
</script>


<script type="text/ng-template" id="/anu\fields\NumberField.html">
    <div class="field">
        <div class="input-field">
            <input class="text fullwidth " ng-model="element[field.handle]" id="field:{[{field.id}]}" type="number" name="{[{field.handle}]}">
            <label ng-class="{required: field.required == 1}" for="field:{[{field.id}]}">
                <span ng-show="field.required == 1">{[{field.name}]} <span class="red-text">*</span></span>
                <span ng-show="field.required != 1">{[{field.name}]}</span>
            </label>
        </div>
    </div>
</script>

<script type="text/ng-template" id="/anu\fields\TextField.html">
    <div class="field">
        <div class="input-field">
            <input class="text fullwidth " ng-model="element[field.handle]" id="field:{[{field.id}]}" type="text" name="{[{field.handle}]}">
            <label ng-class="{required: field.required == 1}" for="field:{[{field.id}]}">
                <span ng-show="field.required == 1">{[{field.name}]} <span class="red-text">*</span></span>
                <span ng-show="field.required != 1">{[{field.name}]}</span>
            </label>
        </div>
    </div>
</script>
